.event-tile {
    display: flex;
    flex-direction: column;
    position: relative;
    border: 1px solid #dcdada;
    background: #f9f9f9;
    box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.15);
    width: 30%;
    padding: 0.75rem;

    &__title {
        text-align: center;
        align-self: center;
        align-content: center;
        font-weight: bold;
        font-size: 1.25rem;
        border-bottom: 1px solid #e8e8e8;
    }

    &__info {
        display: flex;
        flex-direction: column;
        text-align: left;
        margin-top: 1rem;
    }

    .wrapper {
        align-items: center;
        display: flex;
        margin: 0;
        font-size: 14px;
        flex-wrap: wrap;
    
        &__label {
            font-weight: bold;
            margin-right: 0.25rem;
        }
    
        &__icon {
            margin: 0.5rem 0;
            opacity: 0.75;
            margin-right: 0.5rem;
            width: 18px;
        }

        &__value {
            &--block {
                display: block;
            }
        }
    }

    .value__link {
        color: gray;
        text-decoration: none;

        &:hover {
            text-decoration: underline;
        }
    }
}
