.leaflet-container {
    height: 75vh;
    border: 2px solid gray;
    overflow: hidden;
}

.map-wrapper {
    display: flex;
    flex-direction: column;
}

.wrapper__row {
    display: flex;
}

.mini-map {
    width: 65%;
    margin-right: 2rem;
    box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.15);
}