.leaflet-container {
    height: 75vh;
    border: 2px solid gray;
    overflow: hidden;
}

.map-wrapper {
    display: flex;
    flex-direction: column;
}

.wrapper__row {
    display: flex;
}

.map {
    width: 100%;
    transition: width 0.5s;

    &--half {
        width: 65%;
        margin-right: 1rem;
    }
}