@import 'styles/_responsive.scss';

.favourite-events {
    text-align: left;
    margin: 0 auto 50px;

    @include min-medium {
        width: 70vw;
    }

    &__title {
        border-top: 1px solid rgb(230, 230, 230);
        border-bottom: 1px solid rgb(230, 230, 230);
        padding: 10px 5px;
        background: #1e264e1f;
        border: 1px solid #c1c1c1;
        border-radius: 5px;
    }

    &__label {
        font-size: 16px;
    }
}