.popup {
    &__header {
        display: flex;
        align-items: baseline;
        margin-bottom: 0.25rem;
    }

    .header {
        &__icon {
            margin-right: 0.5rem;
            vertical-align: middle;

            &--fav {
                
            }
        }
        
        &__name {
            display: block;
            font-weight: bold;
            font-size: 1.125rem;
        }
    }
}