.nav-header__wrapper {
    display: flex;
    width: 90%;
    margin: 0 auto;
}

.nav-header {
    display: flex;
    background: #f3f3f3;
    border-bottom: 1px solid #dadada;
}
  
.nav-header__links {
    display: flex;
    list-style-type: none;
    margin: 0 0 0 1.5rem;
    align-items: center;
    flex: 1;
}

.nav-header__link {
    margin: 0 1.5rem;
    text-transform: uppercase;
    font-size: 0.75rem;

    &--side {
        margin-left: 3rem;
        margin-right: 0;
    }

    &--first {
        margin-left: auto;
    }

    a {
        color:#585858;
        text-decoration: none;

        &:hover {
            text-decoration: underline;
        }
    }
}

.link__icon {
    color: #585858;
    margin-right: 0.5rem;
}
