@import 'styles/_colors.scss';
@import 'styles/_responsive.scss';

.nav-header__wrapper {
    display: flex;
    width: 90%;
    margin: 0 auto;

    @include max-small {
        width: 100%;
    }
}

.nav-header {
    display: flex;
    background: $color-background-dark;
    color: $color-font-light;
    border-bottom: 1px solid black;
    box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.25);
    position: sticky;
    top: 0;
}
  
.nav-header__links {
    display: flex;
    list-style-type: none;
    margin: 0 0 0 1.5rem;
    align-items: center;
    flex: 1;

    @include max-small {
        margin-left: 0;
        font-size: 12px;
        padding-inline-start: 0;
        margin-block-start: 0;
        margin-block-end: 0;
        justify-content: space-around;
    }
}

.nav-header__title {
    @include max-small {
        display: none;
    }
}

.nav-header__link {
    margin: 0 1.5rem;
    text-transform: uppercase;
    font-size: 0.75rem;

    @include max-small {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 10px 0;
        margin: 0 0.5rem;
    }

    &--side {
        margin-left: 3rem;
        margin-right: 0;

        @include max-small {
            margin: 0 0.5rem;
        }
    }

    &--first {
        margin-left: auto;

        @include max-small {
            margin-left: 0;
        }
    }

    a {
        color:#585858;
        color: $color-font-light;
        text-decoration: none;

        &:hover {
            text-decoration: underline;
        }
    }
}

.link__icon {
    color: $color-font-light;
    margin-right: 0.5rem;

    @include max-small {
        margin-bottom: 0.25rem;
    }
}
