@import 'styles/_responsive.scss';
@import 'styles/_colors.scss';

.admin-panel {
    margin: 0 auto 40px;

    &__icon {
        opacity: 0.75;
        margin-right: 5px;
    }

    @include min-medium {
        width: 70vw;
    }

    .events {
        &__title {
            border-top: 1px solid rgb(230, 230, 230);
            border-bottom: 1px solid rgb(230, 230, 230);
            padding: 10px 5px;
            background: #1e264e1f;
            border: 1px solid #c1c1c1;
            border-radius: 5px;
        }
    
        &__label {
            font-size: 16px;
        }

        &__message {
            border-top: 1px solid rgb(230, 230, 230);
            border-bottom: 1px solid rgb(230, 230, 230);
            padding: 8px 5px;
            background: $color-background-dark;
            color: $color-font-light;
            border: 1px solid #c1c1c1;
            border-radius: 5px;
            font-size: 12px;
            margin: 0 auto 10px;
            display: block; 
            transition: all ease-in-out 1s;
        }

        .message {
            &__icon {
                margin-right: 10px;
                opacity: 0.75;
            }
        }
    }
}