@import 'styles/_colors.scss';

.account-box {
    display: flex;
    flex-direction: column;

    .info {
        margin-bottom: 10px;
        border: 2px solid $color-border-light;
        border-radius: 5px;
        padding: 30px;
        background: $color-background-light;
        max-width: 80%;
        margin: 0 auto;

        &__highlight {
            font-weight: bold;
        }
    }

    &__sign-in-wrapper {
        border: 2px solid $color-border-light;
        border-radius: 5px;
        padding: 30px;
        background: $color-background-light;
        margin: 30px auto;
        display: flex;
        flex-direction: column;
        text-align: center;
        font-weight: bold;

        .sign-in-wrapper__info {
            margin-bottom: 10px;
        }
    }
}

.firebase-auth-wrapper {
    $defaultFontSize: 0;
    $customFontSize: 14px;

    .firebaseui-idp-facebook {
        .firebaseui-idp-text-long {
            font-size: $defaultFontSize;

            &:after {
                font-size: $customFontSize;
                content: "Zaloguj się z Facebook";
            }
        }

        .firebaseui-idp-text-short {
            font-size: $defaultFontSize;

            &:after {
                font-size: $customFontSize;
                content: "Facebook";
            }
        }
    }

    .firebaseui-idp-google {
        .firebaseui-idp-text-long {
            font-size: $defaultFontSize;

            &:after {
                font-size: $customFontSize;
                content: "Zaloguj się z Google";
            }
        }

        .firebaseui-idp-text-short {
            font-size: $defaultFontSize;

            &:after {
                font-size: $customFontSize;
                content: "Google";
            }
        }
    }

    .firebaseui-idp-password {
        .firebaseui-idp-text-long {
            font-size: $defaultFontSize;

            &:after {
                font-size: $customFontSize;
                content: "Zaloguj się przez e-mail";
            }
        }

        .firebaseui-idp-text-short {
            font-size: $defaultFontSize;

            &:after {
                font-size: $customFontSize;
                content: "E-mail";
            }
        }
    }

    .firebaseui-idp-phone {
        .firebaseui-idp-text-long {
            font-size: $defaultFontSize;

            &:after {
                font-size: $customFontSize;
                content: "Zaloguj się przez telefon";
            }
        }

        .firebaseui-idp-text-short {
            font-size: $defaultFontSize;

            &:after {
                font-size: $customFontSize;
                content: "Telefon";
            }
        }
    }
}